@import "../helpers/mixins.scss";
.sing-up {
  background-color: $base-color-3;
  height: 100vh;
  display: flex;
  &-form {
    min-width: 350px;
    background-color: $white;
    margin: auto;
    height: fit-content;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid $base-color-1;
    .el-form-item__label {
      color: $base-color-1;
    }
    .el-form-item__content {
      .el-input__inner {
        border-radius: 8px;
        background-color: $base-color-3;
      }
    }
  }
}
