$base-color-1: #142948;
$base-color-2: #cbe3f9;
$base-color-3: #f9f9f9;
$base-color-4: #f1884d;

$white: #ffffff;

$basse-colors: (
  color-1: #142948,
  color-2: #cbe3f9,
  color-3: #f9f9f9,
  color-4: #f1884d,
);
